---
layout: default
---
{% assign posts_count = paginator.posts | size %}
<h3 class="h1 post-title">Arlene Jiang</h3>
<p> My portfolio of work from NESC 3505 (Neural Data Science) <p>
<div class="home">
  {% if posts_count > 0 %}
    <div class="posts">
      {% for post in paginator.posts %}
        <div class="post py3">
          <a href="{{ post.url | relative_url }}" class="post-link"><h3 class="h1 post-title">{{ post.title }}</h3></a>
          {{ post.content }}
        </div>
      {% endfor %}
    </div>
  
  <h3 class="h1 post-title">{{ Demos }}</h3>
  
  <h6> Keep Track of Your XP </h6>
  <iframe width="640" height="360" src="https://web.microsoftstream.com/embed/video/7693efb3-02fa-4602-84de-8b5f464ce868?autoplay=false&amp;showinfo=true" allowfullscreen style="border:none;"></iframe>
  <p> I explain how to use functions in Google Sheets to keep track of your course progress. </p>
  
    {% include pagination.html %}
  {% else %}
    <h1 class='center'>{{ site.text.index.coming_soon }}</h1>
  {% endif %}
</div>
